body{
    background-color: black;
    font-family: NSimSun;
    color: white;
}
header{
    height: 85px;
    padding: 8px;
    position: fixed;
    display: flex;
    z-index: 99;
    background-color:rgba(0, 0, 0, 0.5);
}
.SearchBar{
    color: white;
    height: 70px;width: 600px;
    display: flex;
    
}
a{
    text-decoration: none;
}
.SearchBar h1{
    position: relative;
    left: 20px; top: 10px;
    width: 100px;
    color: white;
    font-size: 35px;
    font-family: NSimSun;
}
@keyframes flash{
    from{filter: brightness(0.7);}
    to{filter: brightness(1.2);}
}

.SearchBar h1:hover{
    transform: scale(1.1,1.1);
    transition: all 1s ease-out;
}
header img:hover{
    transform: scale(1.1,1.1);
    transition: all 1s ease-out;
}